body {
  color: #aabbcc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body,
div,
form,
fieldset,
legend,
label {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: left;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
caption {
  font-weight: normal;
}

img {
  border: 0;
}

p {
  font-size: 1.1em;
  color: #202020;
}

i {
  font-size: 0.8em;
  color: #202020;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.bg-primary {
  background-color: #e3f9f5;F
}

.box-atas {
  padding-top: 40px;
}

.logo-unhas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0 40px 0;
}

.logo-unhas img {
  width: 150px;
  height: auto;
}

.box-flex {
  display: flex;
  flex-direction: column;
}

.align-self-center {
  align-self: center;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 40px 0;
  color: #72c4c6;
}
.box2 h1 {
  font-size: 5em;
  margin-bottom: 0;
  font-family: "Rage";
}
.box2 h2 {
  font-size: 1.8em;
}

.gunung {
  margin-top: -40px;
}

.h2 {
  color: #72c4c6;
  font-size: 2em;
  text-align: center;
  margin-bottom: 50px;
}

.h3 {
  color: #72c4c6;
  font-size: 1.2em;
  font-weight: 600;
}

.box-konten {
  text-align: justify;
}

.box-konten-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.box-konten-sub img {
  width: 120px;
}

.footer {
  text-align: center;
}

hr {
  border-top: #eee dotted 6px;
  width: 50px;
  margin-bottom: 100px;
  margin-top: 100px;
  padding: 0;
  border-bottom: 0;
  border-left: 0;
}

.last-footer {
  background-color: #72c4c6;
  padding: 50px 0 50px 0;
  text-align: center;
}

.footer {
  margin: 20px 0 60px 0;
}

.copyright {
  color: #eee;
}

.button {
  background-color: #72c4c6;
  background-image: linear-gradient(to bottom, #87d2d3, #5eb1b3);
  border: none;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 20px 0 0 0;
}

.button:active {
  background-color: #72c4c6;
  background-image: linear-gradient(to top, #87d2d3, #5eb1b3);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav a {
  color: #116364;
  text-decoration: none;
  margin: 0 20px 0 20px;
}

.nav a:hover {
  text-decoration: underline;
}
